body{margin:0px;padding:0px;}
@media only screen and (min-width: 320px)  {
  #thenazdiv{border-style: none;filter: blur(0px);transition: 1s;}
  #bor {overflow: auto;
    z-index: 4;
    position: absolute;
    border-style: none;
    height: 30%;
    width: 54%;
    left: 10%;
    top: 55%;
    animation-name: texts;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    opacity: 0;
    display: none;
    animation-iteration-count: 1;
    animation-delay: 0.4s;
}
#bor2 {overflow: auto;
  z-index: 4;
  position: absolute;
  border-style: none;
  height: 30%;
  width: 54%;
  left: 10%;
  top: 55%;
  animation-name: texts;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
  display: none;
  animation-iteration-count: 1;
  animation-delay: 0.4s;
}
#bor3{overflow: auto;
  z-index: 4;
  position: absolute;
  border-style: none;
  height: 30%;
  width: 54%;
  left: 10%;
  top: 55%;
  animation-name: texts;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
  display: none;
  animation-iteration-count: 1;
  animation-delay: 0.4s;
}
@keyframes texts {
from {
 opacity: 0;
 transform: translate3d(-100%,0,0);
}
to {
 opacity: 1;
 transform: none;
}
}

  .p1{position: absolute;;text-align: left;color:rgb(197, 81, 218);font-family: cooper-black-std, serif;line-height: 193%;top:1%;margin-top: 1%;margin-bottom: 1%;}
  #naznombre {
    position: absolute;
    top: 25%;
    left: 33%;
    width: 55%;
    margin: 10%;
}
  #border{float: right;transform: translateX(-90px);display: inline-block;transition-property:width,transform;transition-duration: 1s,0.1s; width:0px; ;position: absolute;left:50%;top:50%;z-index: 4;height: 40%;}
  @keyframes bt1 {
    0%{opacity: 0;filter: blur(20px);}
      100%{opacity: 1;filter:blur(0px)}
  }

  #langdiv {
      margin-top: 1%;
      margin-bottom: 3%;
      margin-left: 20%;
      margin-right: 0.5%;
      right: 0px;
      opacity: 0;
      border-color: #83a95c;
      border-radius: 3px;
      border-style: hidden;
      border-left: none;
      z-index: 2;
      position: absolute;
      background-color: none;
      width: 65%;
      animation: bt1;
      animation-duration: 4s;
      animation-timing-function: ease;
      animation-fill-mode: forwards;
      animation-delay: 3s;
  }

  .lang{font-family: cooper-black-std, serif;padding-right: 10px;border-right:solid;z-index: 2;float:left;position: relative;font-size: 10px; margin-right: 5px;margin-left: 5px;color: #83a95c}
#works{background-color:none;margin-top: 8px;margin-bottom: 6px;padding: 5px 11px 5px 11px;margin-left:2%;margin-right: 2%;font-family: cooper-black-std, serif;;position: relative;display: inline-block;border-style: solid;border-radius: 3px;border-color: #adce74;float:left;color:#83a95c;font-size: 13px;animation:btns;animation-duration: 2s;animation-timing-function: linear;animation-fill-mode: forwards;animation-iteration-count: 1s;opacity: 0;
animation-delay:5s;transition:0.7s }
@keyframes btns {
  0%{ font-size: 0px;opacity: 0;}
  100% {
    font-size: 10px;
    opacity: 1;
}
}
#about{transition: 0.7s;margin-top: 8px;margin-bottom: 6px;padding: 5px 11px 5px 11px;margin-left:2%; margin-right: 2%;font-family: cooper-black-std, serif;;position: relative;display: inline-block;border-style: solid;border-radius: 3px;border-color: #adce74;float: left;color:#83a95c ;font-size: 13px;
animation-duration: 2s;animation-timing-function: linear;animation-fill-mode: forwards;
animation-iteration-count: 1s; animation-name: btns;animation-delay: 5.5s;opacity: 0;}
#contact{transition: 0.7s;animation-duration: 2s;animation-timing-function: linear;
  animation-fill-mode: forwards;animation-iteration-count: 1s; animation-name: btns;
  animation-delay: 6s;margin-top: 8px;margin-bottom: 6px;padding: 5px 11px 5px 11px;
  margin-left:2%; margin-right: 0%;font-family: cooper-black-std, serif;;position: relative;
  display: inline-block;border-style: solid;border-radius: 3px;border-color: #adce74;float: left;color:#83a95c;
  font-size: 13px;opacity:0;}
 #main-btn {
    margin-top: 5%;
    display: inline-block;
    margin-right: 0px;
    margin-left: 25px;
    top: 8%;
    right: 0%;
    position: relative;
    width: 27%;
    height: 10%;
    border-radius: 3px;
    border-style: solid none solid solid;
    border-color: #83a95c;
    border-width: 2px;
    animation-name: bt;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 4s;
    opacity: 0;
}
@keyframes bt {
  0%{opacity: 0%;width:1%;border-width: 20px}
  100% {
    opacity: 100%;
    width: 91%;
    border-width: 2px;
}
}
  #name-hollow {margin-top: 0%;margin-bottom: 2%;
    position: absolute;
    width: 50%;
    left:50%;
    display: inline-block;
    top: 22%;
    animation-name: name;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function:linear,;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    opacity: 0;
}
@keyframes name {0%{opacity:0}
  25%{opacity: 1}
  50%{opacity: 0}
  75%{opacity: 1}
  100%{opacity: 0}
}

#name-hollow1 {z-index: 1;margin-top: 2%;margin-bottom: 0%;
  position: absolute;
  width: 50%;
  left:50%;
  display: inline-block;
  top: 40%;
  animation-name: name;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function:linear;
  animation-fill-mode:forwards;
  animation-delay: 3.5s;
  opacity: 0;
}



#maincontainer{width:100%;;margin: 0px;padding: 0px;position: relative;}
#nazfondo{width:100%;height:auto;z-index: 0;position: absolute;filter: saturate(100%);
transition-property: filter;
}
#naz-desgin {
  z-index: 2;
  position: relative;
  top: 40px;
  left: -7px;
  width: 56%;
  display: inline-block;
  margin-right: 27%;
  margin-left: 7%;
  margin-top: 15%;
  margin-bottom: 2%;
  animation: nazaa,nazaa1,nazaa2 ;
  animation-duration: 2s,2s,10s;
  animation-fill-mode: forwards,forwards,forwards;
  animation-iteration-count: 1,1,infinite;
  animation-timing-function: ease-out,ease-out,linear;
  animation-delay: 0s,2s,15s;
  visibility: hidden;
}
@keyframes nazaa {
  0%{visibility:visible;opacity:0;filter: blur(10px)  brightness(1000%) hue-rotate(360deg);}
    100%{visibility:visible;opacity:1;filter: blur(0px) brightness(500%) hue-rotate(180deg); }
}
@keyframes nazaa1 {
  0%{visibility:visible;opacity:1;filter: brightness(500%) hue-rotate(90deg); }
    100%{visibility:visible;opacity:1;filter: brightness(100%) hue-rotate(0deg)saturate(100%)}
}
@keyframes nazaa2 {
  0%{filter:saturate(100%)}
  50%{filter:saturate(300%);}
  100%{filter:saturate(100%)}
}
#sec1{position: relative;width:100%;height:444px;top:0px;left:0px;display: inline-block;margin-bottom: 10%;
animation: sec1 5s forwards infinite ease;
animation-delay: 0s
}
@keyframes sec1 {0%{top:0px}
  50%{top:10px}
    100%{top:0px}


}
#fire {
    position: absolute;
    top: -31%;
    left: -98%;
    z-index: 1;
    opacity: 1;
    transform: translate(50%,50%) scale(0.4);
    width: calc(10000px / 19);
    height: 307px;
    background: url(nombre1.png);
    animation: animate 2s steps(19) infinite;
    /* animation-timing-function: linear; */
    animation-play-state: running;
    animation-delay: 0s;
}
@keyframes animate {
  0% { background-position: 0;opacity: 1;}
50%{opacity: 1}
    100%{background-position: 10000px;opacity: 1}

}
 /* #nombre{margin:0px;padding: 0px;left:0px;
  display:inline-block;position: relative;background: url(nombre.gif);width: calc(15000px / 19);
  ;top:0px;
  transform: translate(50%,50%);
    height: 461px;
    animation: animate 2.5s steps(19) infinite;
    animation-play-state: running;
    animation-delay: 2s;
}
@keyframes animate {
  0% { background-position: 0;opacity: 1;}
50%{opacity: 1 ;}
    100%{background-position: 15000px;opacity: 1;}

}*/
/* #nombre {  z-index: 1;transform:scale(0.4)translate(-169%,50%);
    margin: 0px 0px 0px 0px;
    padding: 0px;
    display:inline-block;
    position: absolute;
    background: url(nombre1.png);
    width: calc(10000px / 19);
    ;
    top: 0px;
    height: 308px;
    animation: animate 2s steps(19) infinite;

    animation-play-state: running;
    animation-delay: 0s;
    opacity: 1;

}
@keyframes animate {
  0% { background-position: 0px;opacity: 1;}
    100%{background-position: 10000px;opacity: 1;}
 }*/

}
